# OS Specific
Thumbs.db

# Object files
*.o

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Visual Studio
*.sbr
*.suo
*.user
*.ncb

# no builds, no binaries
Release/
Debug/
binaries/