# OS Specific
Thumbs.db

# Object files
*.obj

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Visual Studio
*.sbr
*.suo
*.user
*.ncb

# no builds, no binaries
Release/
Release_TS/
Debug/
Debug_TS/
binaries/